* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cairo, sans-serif;
}

:root {
  --blue: #287bff;
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --hover-bg: linear-gradient(to bottom, var(--blue), #5c4df9);
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--hover-bg);
}
::-webkit-scrollbar-track {
  background: var(--grey);
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--hover-bg);
  border-left: 10px solid transparent;
  transition: 0.3s;
  overflow: hidden;
}

.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .icon i {
  font-size: 1.2em;
}

.navigation ul li a .title {
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* Curve Outside */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* Main */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background-color: var(--white);
  transition: 0.3s;
}

.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.toggle {
  position: relative;
  top: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  cursor: pointer;
  color: var(--blue);
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  outline: none;
  font-size: 17px;
  border: 1px solid var(--black2);
}

.search label i {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 1.2em;
  color: #777;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* cardBox */

.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background-color: var(--white);
  padding: 20px 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2em;
  color: var(--blue);
}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1em;
}

.cardBox .card .iconBx {
  font-size: 2.5em;
  color: var(--black2);
}

.cardBox .card:hover {
  background: var(--hover-bg);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .iconBx,
.cardBox .card:hover .cardName {
  color: var(--white);
}

/* Details */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.details .recentOrders {
  position: relative;
  display: grid;
  min-height: 500px;
  background-color: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardHeader h2 {
  font-weight: 700;
  color: var(--blue);
}

.btn {
  position: relative;
  padding: 5px 10px;
  background-color: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 5px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details table thead td {
  font-weight: 700;
}

.details table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details table tr:last-child {
  border-bottom: none;
}

.details table tbody tr:hover {
  background: var(--hover-bg);
  color: var(--white);
}

.details table tbody tr td {
  padding: 10px;
}

.details table tr td:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.details table tr td:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.details .recentOrders table tr td:last-child {
  text-align: end;
}

.details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}

.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}

.status {
  padding: 0 4px;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}

.status.delivered {
  background-color: #8de02c;
}

.status.pending {
  background-color: #f9ca3f;
}

.status.return {
  background-color: #f00;
}

.status.inprogress {
  background-color: #1795ce;
}

/* Recent Customers */
.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background-color: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.recentCustomers .imagBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.recentCustomers .imagBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recentCustomers table tr td h4 {
  font-weight: 600;
  font-size: 17px;
}

.recentCustomers table tr td h4 span {
  font-size: 15px;
  color: var(--black2);
}

.recentCustomers table tr:hover td h4 span {
  color: var(--white);
}

/* Media Query */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }

  .navigation.active {
    left: 0;
    width: 300px;
  }

  .main {
    left: 0;
    width: 100%;
  }

  .main.active {
    left: 300px;
  }

  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }

  .recentOrders {
    overflow-x: auto;
  }

  .status.inprogress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }

  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }

  .navigation.active {
    width: 200px;
  }

  .main.active {
    width: calc(100% -200px);
    left: 200px;
  }

  .details .recentOrders table tr td:nth-child(2) {
    text-align: center;
  }

  .cardBox .card .iconBx {
    font-size: 2.2em;
  }
}
